.card {
    border-radius: 20px;
}

.card-body {
    padding: 0.7rem;
}

.card-text {
    padding-left: 10px;
}

.folder-card {
    border-color: #00ff00ff;
    border-radius: 10px;
}

.folder-title {
    margin-left: 20px;
}

.folder-icon {
    margin-left: 10px;
}